.add-players {
    width: 80%;
    .col {
        padding: 0 !important;
        margin: 5px;
    }

    .remove-div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        i {

            padding: 8px;
            font-size: 16px;
            cursor: pointer;
            color: red;
            text-align: center;
              border-radius: 50%;
        
              &:hover {
                  background-color: red;
                
                  transition: all ease .5s;
                  color: #fff;
                  transform: scale(0.9) !important;
              }
        }
    }

    
}