.main-container {
    width: 70%;
    margin: 0 auto;
    padding-top: 1rem;

    .breadcrumb {
        background-color: #fff;
        color: #2B52BA;
        font-size: 14px;
        width: 100%; 

        ul {
            float: right;
        }
    }
}