.create-team {
    form {
        label {
            font-size: 12.5px;
        }

        .MuiInputLabel-outlined.MuiInputLabel-shrink {
            transform: translate(18px, -6px) scale(0.75);
        }

        .MuiTextField-root {
            margin-bottom: 1.5rem !important;
        }

    }
}