* {
    font-family: 'Kufam', cursive;
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.primary-btn {
    background-color: #2B52BA !important;
    color: #fff !important;
    padding: 8px 11px;

    &:hover {
        background-color: #446bd8;
    }

    &.form-control {
        height: 3rem;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.small-btn {
    font-size: 13px;
    font-weight: 400;

    svg {
        margin-right: 7px;
    }
}

.header {
    margin: 0;
    font-size: 14px;

    svg {
        margin-right: 3px;
    }
}

form {

    input {
        font-size: 14px !important;
    }

    label {
        font-size: 12.5px !important;
        font-family: 'Kufam',
            cursive !important;
    }

    .MuiInputLabel-outlined.MuiInputLabel-shrink {
        transform: translate(18px, -6px) scale(0.75);
    }

    .MuiOutlinedInput-inputMarginDense {
 font-family: 'Kufam',
 cursive !important;
    }
}