.nav-container {
    padding: 0 !important;
    font-size: 13.7px;

    &.nav-container {
        background-color: #2B52BA;
    }

    nav {
        width: 70%;
        margin: 0 auto;
        height: 3.5rem;

        a {
            color: #fff;
        }

        d-none {
            visibility: hidden;
        }

        .navbar-nav {

            a {
                margin: 0 14px;
                padding: 3px;
                width: 4rem;
                &:hover, &.active {
                    transform: scale(1.1);
                    transition: all .3s ease-in-out;
                    font-weight: 500;
                    overflow: hidden;
                    justify-content: center;
                }
            }

        }
    }
}