.matches {
    padding: 0 3%;
    .col-3 {
        padding: 10px 15px;
    }

    .view-more {
        font-size: 13px;
        text-transform: capitalize;
        margin-top: .2rem;
        padding-right: 1rem;
        svg {
            font-size: 15px;
            path {
                stroke: #2b52ba !important;
            }
        }
    }
}